@media only screen and (max-width:500px){
     #trendingSlider {
          width: 100%;
          padding: 0px 10px !important;
      } 
      .section-body{
          padding-left: 5px;
     }
     .first-section{
          background-position: 55% 5% !important;
     }
}