$main-bg: #0f0f0f;
$secondary-bg: #0b0b0b;
$main-font: 'Unity Sans';
$accent-color: #00f5d2;
$accent-color-bg: rgba(0, 245, 208, 0.541);
$VoltGreen: #27ff52;
$Color_Brand: #fff;
$Color_Body: #9c9c9c;
$Color_Body-onWhite: #656568;
$Color_Background: #0f0f0f;
$Color_Background-lightGrey: #f8f8f8;
$Color_Card: #eeece7;
$Color_Card-rgb: 229, 229, 229;
$Color_Red: #ef1424;
$Color_Green: #12d60e;
$Color_PerformanceBlack: #000;
$Color_CarbonGrey: #0b0b0b;
$Color_Grey: #333;
$Color_Grey-dark: #232323;
$Color_Grey-light: #f5f4f5;
$Color_PoleGrey: #f2f2f2;
$Color_GlocknerWhite: #fff;
$Color_SilverGrey: #a7a9ac;
$Color_VoltGreen: #27ff52;
$Color_VoltGreen-dark: #05e12a;
$Color_VoltGreen-light: #59ff7f;
$Color_PetronasTeal: #00f5d2;
$Color_PetronasTeal-dark: #00ccbe;
$Color_PetronasTeal-light: #90ffef;
$Color_HighlightYellow: #fefd43;
$Color_HighlightPink: #fb0096;
$Color_Anchor: #373737;
$Color_Border: #e0e0e0;

