.pagination {
     margin-top: 20px;
     display: flex;
     gap: 10px;
   }
   
   .page-button {
     padding: 8px 12px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     background-color: #ffffff;
     color: #000;
     font-weight: bold;
   }
   
   .page-button.active {
     background-color: #000;
     color: #ffffff;
   }
   