@use '../abstracts/variables';


.products{
     padding-top: 100px;
}
.products-container {
     display: flex;
     gap: 2rem;
     flex-direction: column;
     padding: 7rem 0;
     background: url();
     background: url('https://shop-int.mercedesamgf1.com/cdn/shop/files/background-3_d4b03e7a-f58a-4737-afaf-790fcf79df4b.jpg?v=1677662101&width=4472')
     center/cover no-repeat fixed;
   }
   
   .filters-sidebar {
     width: 100%;
     min-width: 250px;
     background: variables.$Color_CarbonGrey;
     padding:  20px 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     .filters-header {
       display: flex;
       justify-content: space-between;
       align-items: center;


   
       h2 {
         font-size: 1.2rem;
         margin: 0;
         color: #fff;
       }

     }
     select {
      padding: 0.5rem;
      border: 1px solid #8d8d8d48;
      background: rgb(0, 0, 0);
      color: #fff;
      font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.13em;
    line-height: 126%;
    text-transform: uppercase;
    }
   
     .filter-group {
       margin-bottom: 1.5rem;
   
       h3 {
         font-size: 1rem;
         margin-bottom: 0.75rem;
         color: #333;
       }
   
       label {
         display: flex;
         align-items: center;
         gap: 0.5rem;
         margin-bottom: 0.5rem;
         cursor: pointer;
         color: #666;
         font-size: 0.9rem;
   
         input {
           margin: 0;
         }
       }
     }
   }
   
   .products-list {
     flex: 1;
   
     .products-header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       .filters-header{
        width: 100%;
       }

   
       .div-for-span {
        width: 100%;
        text-align: right;
         font-size: 0.9rem;
         color: #666;
       }
   
       
     }
   }
   
   .products-grid-main {
    width: 100%;
    overflow: hidden;
     padding: 0 15px;
     .main-products{
      margin: 0 auto;
      display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 1px;}
   }

   .filter-dropdown {
     
     .dropdown-header {
       width: 100%;
       background: none;
       border: none;
       display: flex;
       justify-content: space-between;
       align-items: center;
       font-weight: 500;
       cursor: pointer;
       color: #fff;
       
       .arrow {
         transition: transform 0.3s ease;
         font-size: 0.5rem;
         padding: 0 4px;
         display: flex;
         justify-content: center;
         align-items: center;
         
         &.open {
           transform: rotate(180deg);
         }
       }
     }
   
     .dropdown-content {
       padding: 0.5rem 0;
       height: auto;
       max-height: 400px;
       width: 250px;
       overflow-y: auto;
       position: absolute;
       background-color: variables.$Color_Background;
       padding: 14px;
       z-index: 1;
       border-radius: 4px;
       span{
        color: #fff !important;
       }
       
     }
   
     .dropdown-item {
       display: flex;
       align-items: center;
       padding: 0.5rem 0;
       cursor: pointer;
       
       input {
         margin-right: 0.8rem;
       }
   
       .label-text {
         font-size: 0.9rem;
         color: #666;
       }
     }
   }
  .zz{
    gap: 40px;
    button{
      font-size: 13px;
    font-weight: 300;
    letter-spacing: .13em;
    line-height: 126%;
    text-transform: uppercase;
    }
    .reset-btn-1 {
      width: 100%;
      background: rgba(59, 59, 59, 0.836);
      border: none;
      color: #ffffff;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        opacity: 0.5;
        transform: scale(1.0);
        color: variables.$accent-color;
      }
    }
  }

  .reset-btn {
    background: rgba(59, 59, 59, 0);
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:hover {
      opacity: 0.5;
      transform: scale(1.0);
      color: variables.$accent-color;
    }
  }


  .heading-for-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 2rem 12rem;
    .tree{
      font-size: 9px;
      opacity: 0.6;
      font-weight: 300;
      letter-spacing: .13em;
      line-height: 131%;
      text-transform: uppercase;
    }
    h2{
      font-size: 50px;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 110%;
    }
    p.abc{
      font-size: 14px;
    font-weight: 300;
    line-height: 140%;
    color: variables.$Color_Body;
    width: 80%;
    text-align: center;
    margin-bottom: 0;
    }
  }

  .categories-by-buttons{
    .category-btn{
      padding: 6px 10px;
      font-size: 11px;
      border: 1px solid black;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      &.active{
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
        transform: scale(1.0);
      }
    }
  }

  .gg{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.13em;
    line-height: 126%;
    text-transform: uppercase;
  }

  .selected-filters{
    width:100%;
    display: flex;
    align-items: center;
    gap: 20px;

    span{
      width: 100%;
      color: #ffffffc7 !important;
      margin-right: 5px;
    }
    .selected-filter-btn{
      padding: 0.2rem;
      border-radius: 20px;
      font-size: 13px;
      background-color: #ffffffec;
      color: rgb(0, 0, 0);
    }
  }

  
  @media (max-width: 1280px){
    .products-grid-main{
      max-width: 1000px;
      margin: 0 auto;
      .main-products{
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 20px !important;
      }
      
    }
  }
  @media (max-width: 1200px){
    .products-grid-main{
      max-width: 100% !important;
      margin: 0 auto;
      .main-products{
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 15px !important;
      }
      
    }
  }
  @media (max-width: 1148px){
    .products-header{
      
    }
    .products-grid-main{
      max-width: 800px !important;
      margin: 0 auto;
      .main-products{
        grid-template-columns: 1fr 1fr  !important;
        gap: 15px !important;
      }
      
    }
  }
  @media (max-width: 780px){
    .dropdown-content {
      padding: 1rem 0;
      height: auto;
      max-height: 400px;
      width: 97% !important;
      overflow-y: auto;
      position: absolute;
      background-color: variables.$Color_Background;
      padding: 14px;
      z-index: 1;
      left: 10px !important;
      margin-top: 20px;
      border-radius: 4px;
      span{
       color: #fff !important;
      }}
    .abc{
      width: 100% !important;
    }
    .filters-sidebar{
      flex-direction: column;
      gap: 20px;
      .sort-by-cont{
        width: 100% !important;
      }
      span.gg{
        display: inline-block;
        width: 100%;
      }
      span, select{
        font-size: 11px;
      }
      .zz{
        justify-content: space-between;
        button{
          font-size: 11px !important;
        }
        
      }
      
    }
    .products-header{
      
    }
    .products-grid-main{
      max-width: 800px !important;
      margin: 0 auto;
      .main-products{
        grid-template-columns: 1fr 1fr  !important;
        gap: 15px !important;
      }
      
    }
  }


  @media (max-width: 730px){
    .heading-for-products{
      padding: 1rem 6rem !important;
    }
    .abc{
      width: 100% !important;
    }
    .filters-sidebar{
      flex-direction: column;
      gap: 20px;
      .sort-by-cont{
        width: 100% !important;
      }
      span.gg{
        display: inline-block;
        width: 100%;
      }
      span, select{
        font-size: 11px;
      }
      .zz{
        justify-content: space-between;
        button{
          font-size: 11px !important;
        }
        
      }
      
    }
    .products-header{
      
    }
    .products-grid-main{
      max-width:  350px !important;
      margin: 0 auto;
      .main-products{
        grid-template-columns: 1fr !important;
        gap: 15px !important;
      }
      
    }
  }


  @media (max-width: 460px){
    .products-grid-main{
      padding: 0 !important;
    }
    .zz{
      gap: 0 !important;
    }
    .heading-for-products{
      padding: 1rem 3rem !important;
    }
  }

